.change-password-page {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/background-SignIn.jpg");
}
.headTitleSignIn1 {
    font-size: 45px;
    text-align: center;
    padding: 2rem;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    color: rgb(8, 8, 8);
}
.change-password-page label {
    font-size: 20px;
}
.change-password-page form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.change-password-page label,
button {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
}

.change-password {
    padding: 2rem;
    margin: 2rem 0;
    max-width: 100%;
    background-color: rgba(245, 244, 248,.8);
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgb(0 0 0 / 20%);
    /* font-family: Arial, Helvetica, sans-serif; */
}

.fullHeight{
    height: 100%;
}
